<style>
    @import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    </style>
<div class="exe">
<div class="exercise-container">
    <div class="exercise-card">
        <h1>CARDIO <br> EXERCISES</h1>
        <h2> Log your cardio sessions <br> - track your progress</h2><br>

        <a href="/cardio"><button>Add Exercise</button></a>
      
    </div>

    <div class="exercise-weight">
        <h1>WEIGHTLIFTING EXERCISES</h1>
        <h2> Log your weightlifting sessions - track your progress</h2>
        <br>
        <a href="/weight"><button>Add Exercise</button></a>
    </div>
</div>
</div>
