/* Full background with centered content */
.diet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height:auto;
    background: url('/assets/images/pexels-nourabiad-27088091.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-top: 10px;
}
.diary-text {
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}
/* Date navigation styling */
.date-navigation {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.date-navigation button {
    background-color: #f1fcf4;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.date-navigation .previous,
.date-navigation .next {
    width: 40px; /* Adjust width to fit symbol size */
    padding: 5px; /* Smaller padding for compact look */
    font-size: 1.2em; /* Adjust font size to make symbols clear */
}

.date-navigation .current-date {
    background-color: #e5ebe6;
    font-weight: bolder;
    font-size: 1em;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-navigation .calendar-icon {
    font-size: 1.2em;
}

/* Date button hover effects */
.date-navigation button:hover {
    background-color: #434443;
}

.date-navigation p {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    margin: 0;
}
